body {
  padding-top: 90px;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(0,0,0,0.3);
  transition: all 0.3s ease-in-out;
}

.card {
  transition: all 0.3s ease-in-out;
}

.section-title {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 20px;
  font-size: 2.3rem;
  font-weight: bold;
  color: #003366;
}

.section-description {
  text-align: center;
  max-width: 800px;
  margin: auto;
  color: #444;
  font-size: 1.1rem;
}
